# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nuxt
.output
dist/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
.docker/

# Database
*.sqlite3
*.db

# Logs
*.log
logs/
